.field {
    white-space: pre-wrap;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    color: white;
}
